.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.content {
  
}

.imgContainer {
  width: 4em;
  height: 4em;
  position: relative;
}

.logo {
  position: relative;
  width: 5em;
}