.container {
  height: fit-content;
  position: sticky;
  left: 0;
  right:0;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: transparent;
  font-size: 1.2em;
  font-weight: 500;
  color: #000;
  transition: 1s;
  z-index: 501;
}


.imgContainer {
  position: relative;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.logo{
  display: flex;
  flex-direction: row;
}

.scrolled {
  background-color: #000;
  color: white;
}

.links {
  display: flex;
  gap: 30px;
}